<h1>Home</h1>
{{ counter$ | async }}
<!-- {{counter}} -->
<p>
  Lorem ipsum dolor <i appFormat>100000.24455645</i>
  <b appHighlight color="green" tooltip="testo del tooltip"
    >sit amet consectetur</b
  >, adipisicing elit. Error fugiat corporis fuga odio architecto quam
  aspernatur aliquam, corrupti voluptas, non labore id laboriosam. Quo dolorem
  laboriosam maxime ad recusandae a.
</p>

@if(a > b){
<div>{{ a }} è maggiore di {{ b }}</div>
} @else if (b > a){
{{ a }} è minore di {{ b }}
} @else {
{{ a }} è uguale ad {{ b }}
}

<div appHighlight>
  <div *ngIf="a > b; else notMajor">{{ a }} è maggiore di {{ b }}</div>
  <ng-template #notMajor>
    <div *ngIf="b > a; else notMajorSub">{{ a }} è minore di {{ b }}</div>
    <ng-template #notMajorSub> {{ a }} è uguale ad {{ b }} </ng-template>
  </ng-template>
</div>

@for( item of taskList; track $index; let count = $count, first= $first, last=
$last, odd = $odd ){

<div
  style="display: block"
  [ngStyle]="{ 'background-color': odd ? 'red' : 'transparent' }"
>
  {{ item.title }} {{ $index }} {{ count }} {{ first }} {{ last }}
  @switch (item.done) { @case (true) { ✅ } @default { ❎ } }
</div>
} @empty {
<div style="display: block">Non ci sono risultati</div>
}

<div *ngIf="taskList.length; else noItems">
  <ul>
    <li *ngFor="let item of taskList; trackBy: trackById">
      {{ item.title }}
      <span [ngSwitch]="item.done">
        <b *ngSwitchCase="true"> ✅ </b>
        <b *ngSwitchDefault> ❎ </b>
      </span>
    </li>
  </ul>
</div>
<ng-template #noItems> non ci sono elementi </ng-template>

{{ today | date : "long" }}
<hr />
<p>B: {{ "12.1" | currency : "JPY" : "symbol" : "1.3-3" }}</p>
<p>B: {{ "12.1" | number : "5.3-3" }}</p>
<p>B: {{ "12.1" | percent : "5.3-3" }}</p>

<pre>
{{
  {
    id: 1,
    name: "ciccio", 
    children:[
      'test1',
      'test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1',
    ]
  } | json
}}
</pre>

<hr>

{{ 'ciao' | reverse : '!!!!' }}

{{ 12312312.12332 | customCurrency : 4}}


{{
  {
    id: 1,
    name: "ciccio", 
    children:[
      'test1',
      'test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1','test1',
    ]
  } | objToStrArr | json
}}
