<h1>Contattaci</h1>

<app-form [formConfig]="formConfig" [globalValidators]="globalValidator">
<!-- TEMPLATE DRIVEN FORM -->
<!-- <form #contactForm="ngForm" (ngSubmit)="submit(contactForm)">
    <fieldset>
        <label for="name">Nome</label>
        <input id="name" name="name" ngModel required>
    </fieldset>
    <fieldset>
        <label for="email">email</label>
        <input id="email" name="email" ngModel required email #email>
        @if( 
            contactForm.form.get('email')?.invalid 
            && ( contactForm.form.get('email')?.dirty 
            || contactForm.form.get('email')?.touched )
        ){
            <p>
                campo non valido
            </p>
        }
    </fieldset>
    <button type="submit" [disabled]="!contactForm.form.valid">
        submit
    </button>
</form> -->

