<h1>Contattaci</h1>

<app-form [formConfig]="formConfig">
<!-- TEMPLATE DRIVEN FORM -->
<!-- <form #contactForm="ngForm" (ngSubmit)="submit(contactForm)">
    <fieldset>
        <label for="name">Nome</label>
        <input id="name" name="name" ngModel required>
    </fieldset>
    <fieldset>
        <label for="email">email</label>
        <input id="email" name="email" ngModel required email #email>
        @if( 
            contactForm.form.get('email')?.invalid 
            && ( contactForm.form.get('email')?.dirty 
            || contactForm.form.get('email')?.touched )
        ){
            <p>
                campo non valido
            </p>
        }
    </fieldset>
    <button type="submit" [disabled]="!contactForm.form.valid">
        submit
    </button>
</form> -->

<!-- <form [formGroup]="contactForm" (ngSubmit)="submit()">
    @for(field of formConfig; track $index){
        <fieldset>
            <label [for]="field.name">{{field.label}}</label>
            <hr />
            @switch (field.type) {
                @case ('text') {
                    <input [formControlName]="field.name" [id]="field.name"/>
                }
                @case ('textarea'){
                    <textarea [formControlName]="field.name" [id]="field.name"></textarea>
                }
            }
        </fieldset>
    }
 
  <button type="submit" [disabled]="!contactForm.valid">Submit Form</button>
</form> -->
