.recipe{
    img{
        max-width: 100%;
    }
    &_intro{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        @media (max-width: 768px){
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, auto);
        }
    }
    &_instructions{
        padding: 1rem;
    }
}